<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIlhrDUFxITXuK4Wrfxxa8fkhmk86MahU</string>
	<key>GCM_SENDER_ID</key>
	<string>211406544087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileAssignment2</string>
	<key>PROJECT_ID</key>
	<string>mobileassignment2-15796</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileassignment2-15796.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211406544087:ios:a04aaf1b76acdab163e492</string>
</dict>
</plist>